<article class="post">
  <div class="title">
  
  </div>
  <div class="meta">
    {{post_text}} point(s) by {{user.username}} on
    {{created_at}}
    |
    <a href="api/posts/comments/{{id}}">{{comments.length}} comment(s)</a>
  </div>
</article>


