{{#each posts}}
<div class="column post is-4">
    
    <article class="columns is-multiline">
        <div class="column is-12 post-img">
            <img src="https://cdn.emk.dev/templates/post-img.png" alt="Featured Image">
        </div>
        <div class="column is-12 featured-content ">
          
            <h1 class="title post-title">{{title}}</h1>
            <p class="post-excerpt">({{post_text}}).</p>
            <br>
            <div class="meta">
                by {{username}} on
                {{created_at}}
                |
                <a href="/api/comments/{{id}}">{{comments.length}} comment(s)</a>
            </div>
            <a href="/api/posts/{{id}}" class="button is-primary">Read More</a>
        </div>
    </article>
</div>
  {{/each}}