<div class="column post is-6">
    <article class="columns is-multiline">
        <div class="column is-12 post-img">
            <img src="https://cdn.emk.dev/templates/post-img.png" alt="Featured Image">
        </div>
        <div class="column is-12 featured-content ">
            <h3 class="heading post-category">{{category_name}}</h3>
            <h1 class="title post-title">{{title}}</h1>
            <p class="post-excerpt">({{post_body}}).</p>
            <br>
            <div class="meta">
                {{vote_count}} point(s) by {{user.username}} on
                {{created_at}}
                |
                <a href="/post/{{id}}">{{comments.length}} comment(s)</a>
            </div>
            <a href="{{post_url}}" class="button is-primary">Read More</a>
        </div>
    </article>
</div>