<section class="blog-posts">
    <div class="container">
        <div class="columns is-centered  ">
            <div class="column post is-4">
                <article class="columns is-multiline">
                    <div class="column is-12 post-img">
                        <img src="https://cdn.emk.dev/templates/post-img.png" alt="Featured Image">
                    </div>
                    <div class="column is-12 featured-content ">
                        <h1 class="title post-title">{{post.title}}</h1>
                        <div class="meta">
                            By <a href="/api/posts/{{post.id}}"> {{post.User.username}}</a> on
                            {{format_date post.created_at}}
                            |
                            <a href="/api/posts/{{post.id}}">{{post.comments.length}} comment(s)</a>
                            <br/>
                               {{#if session.loggedIn}}
                                    <a  href="/dashboard/edit/{{post.id}}">Edit Post</a>
                                {{/if}}
                        </div>
                        <p class="post-excerpt">{{post.post_text}}</p>
                        <br>


                        {{#if post.comments}}
                       <div id="parent" >
                    
                            <h2 class="title is-size-4">Comments</h2>
                            {{#each post.comments}}
                           {{#if ../loggedIn}} <a  href='/edit/comment/{{id}}'>Edit Comment</a> {{/if}}
                            <section  class="box notification has-background-dark">
                               
                                <div class="meta is-size-7 has-text-success-light">
                                    <span class="has-text-grey">{{user.username}}</span> on 
                                    <span class="has-text-grey">{{ format_date created_at}}</span>
                                </div>
                                <div class="is-size-6 has-text-success-light">
                                    {{comments_text}}
                                </div>
                            </section>
                            {{/each}}
                       </div>
                        {{/if}}

                        {{!-- comment  form --}}
                        {{#if loggedIn}}
                        {{> comments}}
                        {{/if}}

                    </div>
                </article>
            </div>

        </div>
    </div>
</section>

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
<script src="/javascript/delete-comment.js"></script>
{{/if}}