<section class="blog-posts">
    <div class="container">
        <div class="columns is-centered  ">



            <div class="column post is-4">
                <article class="columns is-multiline">
                    <div class="column is-12 post-img">
                        <img src="https://cdn.emk.dev/templates/post-img.png" alt="Featured Image">
                    </div>
                    <div class="column is-12 featured-content ">

                        <h1 class="title post-title">{{post.title}}</h1>
                        <p class="post-excerpt">{{post.post_text}}</p>
                        <br>
                        <div class="meta">
                            By <a href="/api/users/{{id}}"> {{post.User.username}}</a> on
                            {{post.created_at}}
                            |
                            <a href="/api/comments/{{id}}">{{comments.length}} comment(s)</a>
                        </div>



                         <div class="" style='border: solid 1px #333'>
                            {{#each posts.comments}}
                            <section class="" >
                                <div class="meta">
                                    {{User.username}} on {{created_at}}
                                </div>
                                <div class="is-size-7 has-text-light ">
                                    {{comments_text}}
                                </div>
                            </section>
                            {{/each}} 

                        </div>

                        
                        {{!-- comments partials form --}}
                        {{#if loggedIn}} 
                       {{>comments}}
                        {{/if}}
        
                    </div>
                </article>
            </div>


        </div>
    </div>

</section>
 {{#if loggedIn}} 
<script src="/javascript/comment.js"></script>

{{/if}}